* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}




.my-card {
  width: 300px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease;
  cursor: pointer;
}

.my-card:hover {
  transform: translateY(-6px);
}

.my-card-image {
  height: 180px;
  
   
}

.my-card-content {
  padding: 16px;
}

.my-card-title {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
}

.my-card-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.my-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-card-tag {
  background: #eef2ff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: #3b82f6;
}

.my-card-btn {
  padding: 6px 12px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: margin-right 2s;
 
  
}

.my-card-btn:hover {
  background: #2563eb;
}
