* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #212121;
  gap: 30px;
}

input, button {
  padding: 10px 20px;

  margin: 20px;
  align-items: center;
  justify-items: center;
}